
@font-face {
  font-family: 'Formula1-Regular_web_0';
  font-weight: 400;
  src: url('./fonts/Formula1-Regular_web_0.ttf') format('opentype')
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Formula1-Regular_web_0',sans-serif;
    scroll-behavior: smooth;

}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8vh;
  }

h1 {
  font-size: 40px;
  font-weight: 600;
}

/* ------------------ MENU ------------------------------------------ */

#intro {
    display: flex;
    align-items: center;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 1000;
    border-bottom: solid rgb(207, 3, 3) 0.5px;
}

#logo {
  min-width: 80px;
  max-width: 150px;
}

#menu ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  width: auto;
  margin-left: 2vw;

}

#menu li {
  margin-left: 4vw;
}

.color-picker {
  float : right;
}


/* ------------------ VIDEO ----------------------------------------- */

/*
#video {
    display: flex;
    justify-content: center;
}

#video video {
    min-height: 20%;
    min-width: 20%;
    height: auto;
    width: auto;
    z-index: 1;
    border-radius: 7px;
  }
*/




  .anchor {
    display: block;
    position: relative;
    visibility: hidden;
    margin-bottom: 50px;
  }


/* -------------------- ECURIES --------------------------------------------------- */

#ecuries { max-width: 60%;  overflow: hidden;}



#carrousel img {
    width: 250px;
    margin-left: 150px;
    height: auto;
    float: left;
}


@keyframes slidy {
  0% { left: 0; }
  100% { left: -4000px; }

}

#carrousel {
  position: relative;
  width: 4400px;
  margin: 0;
  padding: 0;
  font-size: 0;
  left: 0;
  animation: 15s slidy infinite linear;
}



 #drivers {
  background-image: url(./img/fond.jpg); 
  background-size: cover;
  background-attachment: fixed;
  color:white;
 
 
}
.blur {
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* ------------------------------ DRIVERS ----------------------------------------------- */

#finish_line {
  width: 80%;
}



figure {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
}


  .pilotes img {
    width: 40%;
    height: auto;
    justify-content: center;
    cursor: pointer;
  }

  .pilotes p {
    margin-bottom: 10px;
  }


  figcaption  {
    text-align: center;
    font-size: 20px;
  }

 
  .desc_drivers {
    opacity: 0;
    transition-duration: 1s;
    width: 356px;
    margin-top: 30px;
  }

  .pilotes {
    transition-duration: 1s;
  }


  .pilotes:hover > .desc_drivers  {
   opacity: 1;
   transition-duration: 1s;
  }





/* ----------------------------  CIRCUITS -------------------------------------- */

  #circuits {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: solid red 1px;
    margin-bottom: 550px;
  }

  #liste_cir {
    display: block;
    width: 100%;
    float: left;
    border: solid red 1px;
  }


#liste_cir img {
  animation-duration: 1s;
}

  #liste_cir li {
    padding-bottom: 5%;
    
  }

  #liste_cir li:hover {
    background-color: red;
    color: white;
  }

#australie,#canada,#azeri {
    display: none;
}

  #menu_aus:hover + #australie {
    display: block;
    transition-duration: 1s;
  }

  #menu_can:hover + #canada {
    display: block;
    transition-duration: 1s;
  }

  #menu_azeri:hover + #azeri {
    display: block;
    transition-duration: 1s;
  }



  #tracés {
    width: 100%;
    float: right;
    border: solid red 1px;
}


  #tracés img {
    position: absolute;
  }

 

  #light_mode {
    display: none;
  }




/* --------------------- FLECHE HAUT DE PAGE ---------------------------------------- */

  #sticky_elements {
    position: sticky;
    font-size: 35px;
    top: 150px;
    width: 100%;
    padding-left: 50px;
    z-index: 2000;

   
  }

  #fleche {
    color: red;
   margin-left:-2px;
  }


/* -------------------- FORMULAIRE ---------------------------------------------- */


#formulaire {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  border-bottom: red solid 2px;
}

  input {
    height: 40px;
    display: flex;
    flex-direction: column;
    width: 75%;
    border: red solid 1px;
    border-radius: 2px;
  }

